<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <title>
        Test
    </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="button_overflow_text_ui.css"/>
    <script type="module" src="button_overflow_text_ui.js"></script>
</head>

<body id="body">
    <div id="control">
<input type="image" src="chrome://theme/IDR_PUNDIX_FACEBOOK" id="btn" />
<!-- <input type="image" src="FB_nor.svg" id="btn" /> -->
<label id="numbs">1</label>
    </div>
</body>

</html>