<!doctype html>
<head>
    <meta charset="utf-8">
    <title>LeftPanelSetting</title>
    <link rel="stylesheet" type="text/css" href="leftpanel_setting.css">
    <!-- <link rel="icon" type="image/png" href="./resource/input_alert.png"> -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
    <script type="module" src="jquery.min.js"></script>
    <script type="module" src="leftpanel_setting.js"></script>
</head>
<body>
    <div class="main-content">
        <div class="icon" role="presentation" alt=""></div>
        <label class="social">Social</label>
        <p/>
    <div id="divs" class="social-main">
        <div id="messenger_top">
        <img class="messengertop" src="chrome://theme/IDR_INPUT_ALERT ">Messenger</img><input type="image" src="chrome://theme/IDR_INPUT_ALERT " class="messenger_top" id="messenger_top" /><input type="checkbox" class="messenger_show" src="text" id="messenger_show"/>
        <p/>
        </div>
        <div id="whatsapp_top">
        <img class="whatsapp" src="chrome://theme/IDR_INPUT_ALERT ">Whatsapp</img><input type="image" src="chrome://theme/IDR_INPUT_ALERT " class="whatsapp_top" id="whatsapp_top" /><input type="checkbox" class="whatsapp_show" src="text" id="whatsapp_show" />
        <p/>
        </div>
        <div id="discord_top">
        <img class="discord" src="chrome://theme/IDR_INPUT_ALERT ">Discord</img><input type="image" src="chrome://theme/IDR_INPUT_ALERT " class="discord_top" id="discord_top" /><input type="checkbox" class="discord_show" src="text" id="discord_show" />
        <p/>
        </div>
    </div>
    
    <label class="web3-tools">Web3-tools</label>
    <p/>
    <div id='divs_1' class="web3-tools-main">
        <div id='dune_top'>
        <img class="dune" src="chrome://theme/IDR_INPUT_ALERT ">Dune</img><input type="image" src="chrome://theme/IDR_INPUT_ALERT " class="dune_top" id="dune_top" /><input type="checkbox" class="dune_show" src="text" id="dune_show" />
        <p/>
        </div>
        <div id='apeboard_top'>
        <img class="apeboard" src="chrome://theme/IDR_INPUT_ALERT ">Apeboard</img><input type="image" src="chrome://theme/IDR_INPUT_ALERT " class="apeboard_top" id="apeboard_top" /><input type="checkbox" class="apeboard_show" src="text" id="apeboard_show" />
        <p/>
        </div>
        <div id='nftbank_top'>
        <img class="nftbank" src="chrome://theme/IDR_INPUT_ALERT ">NFTbank</img><input type="image" src="chrome://theme/IDR_INPUT_ALERT " class="nftbank_top" id="nftbank_top" /><input type="checkbox" class="nftbank_show" src="text" id="nftbank_show"/>
        <p/>
        </div>
    </div>
    </div>
</body>
</html>